<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" id="<%= current_page?(new_post_path) ? 'new-post-header' : 'sitewide-header' %>">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Craigslist Clone</h1>
          <hr class="small">
          <span class="subheading"><%= @title || 'Welcome to our couch app!' %></span>
        </div>
      </div>
    </div>
  </div>
</header>